
.header {
  width: 100%;
  //height: 153px;
  background-color: rgb(89, 89, 89);
  z-index: 1;
  position: sticky;
  top: 0px;


  header {
    display: flex;
    justify-content: space-between; // Horizontal
    padding: 16px 0;

    .logo-info {
      display: flex;
      align-items: center; // Vertical

      img {
        margin-right: 20px;
      }
    }
  }

  .logo {
    height: 70px;
    width: 70px;
    margin-left: 40px;
    float: left;
  }

  .logo-h1 {
    margin: 0;
    color: rgba(0, 147, 183, 0.78);
    text-shadow: 10px 5px 10px rgba(0, 0, 0, .3), 20px 18px 20px rgba(0, 0, 0, .2), 30px 30px 30px rgba(0, 0, 0, .1);
    font-family: "Hack NF", sans-serif;
  }

  .search {
    display: flex;
    align-items: center;
    text-align: end;
    margin-right: 33px;
  }

  .search input {
    background-color: #9ecde1;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 14px;
    text-align: center;
    font-size: 14px;
    box-shadow: 6px 7px 6px rgba(128, 128, 128, 0.42);
    margin-right: 20px;
  }


  .p-button {
    vertical-align: middle;
    //margin-right: 228px;
    //margin-top: -67px;
    transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);

    &:hover {
      transform: scale(1.1);
    }
  }
}
